@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');



header{
    max-width: 1250px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 5px;
    font-family: 'Caveat Brush', serif;
    background-color: #f2f0ee;

}

header nav .logo {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin: 20px;
}

.menu-items a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 30px;
    padding: 0.15em 0.6em 0.15em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.2em 0.2em 0;
    border-radius: 5em;
    border-color: black;
}

.menu-items input {
    font-size: 30px;
    margin: 0.3em;
}

.search {
    padding: 0.15em;
    border: 0.1em solid #FFFFFF;
    border-radius: 1em;
    border-color: black;
}

 header nav div .find {
    font-size: 25px;
    padding: 0.15em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    border-color: black;
    cursor: pointer;
}

main{

    max-width: 1250px;
	background-color: #f2f0ee;
	text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.product-list {
    display: flex;
  }
 
 .mens-shoes {
  flex-grow: 25%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.womens-shoes {
  flex-grow: 25%;
 
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kids-shoes {
  flex-grow: 25%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


footer {
text-align: center;
}

